
.sign-in {
	max-width: 500px;
	margin: 0 auto;
}

.brand-navigation {
	padding: 50px 20px;
	list-style-type: none;
	li {
		display: inline-block;
		a {
			text-transform: uppercase;
			padding: 7px 20px;
			span {
				padding-bottom: 4px;
			}
			&:hover {
				span {
					border-bottom: 2px solid $brand-color;
				}
			}
		}
		&.active {
			a {
				span {
					border-bottom: 2px solid $brand-color;
				}
			}
		}
	}
	&.main-navigation {
		padding: 20px 20px;
		background-color: rgba(0,0,0, 0.7);
		margin-bottom: 15px;
	li {
		&.sign-out-button {
			float: right;
		}
	}
}
}

.brand-form {
	padding: 20px;
	&.no-top-padding {
		padding: 15px;
		padding-top: 0;
	}
	input {
		&::-webkit-input-placeholder {color: #fff}
		&::-moz-placeholder {color: #fff}
		font-size: 16px;
		width: 100%;
		border-radius: 45px;
		height: 45px;
		line-height: 45px;
		border: 2px solid transparent;
		margin: 15px 0;
		color: #fff;
		&[type="submit"] {
			background-color: $brand-color;
			color: #fff;
			line-height: 40px;
			text-transform: uppercase;
			font-size: 14px;
			margin-top: 50px;
			&:focus {
				outline: none;
			}
		}
		&:not([type="submit"]) {
		background-color: rgba(255,255,255,0.5);
		padding-left: 35px;
		display: block;
		
		&:focus {
			outline: none;
			border: 2px solid #fff;

		}
	}
	}

	textarea {
		&::-webkit-input-placeholder {color: #fff}
		&::-moz-placeholder {color: #fff}
		font-size: 16px;
		width: 100%;
		border-radius: 25px;
		line-height: 45px;
		border: 2px solid transparent;
		margin: 15px 0;
		color: #fff;
		background-color: rgba(255,255,255,0.5);
		padding-left: 35px;
		display: block;
		overflow: hidden;
		&:focus {
			outline: none;
			border: 2px solid #fff;

		}
	}
	p {
		color: #fff;
		padding-left: 35px;
		text-transform: uppercase;
		font-size: 12px;
		padding-top: 5px;
	}

	.custom-checkbox {
		width: 70%;
		input {
			display: none;
		}
		p {
			display: inline-block;
			padding-left: 10px;
		}
	}

}

.custom-checkbox {
	margin: 0 auto;
	margin-top: 15px; 
	p {
		padding-left: 0;
		color: #fff;
	}

	label {
		height: 65px;
		width: 100%;
		img {
			height: 100%;
		}
		p {
			display: inline-block;
			padding-left: 10px;
		}
		i {
			// display: inline-block;
			float: right;
			line-height: 65px;
			color: #fff;
			margin-right: 20px;
			font-size: 30px;
		}
		input {
			display: none;
		}
		&.selected {
			background-color: rgba(255,255,255,0.5);
		}
	}
}


@media (max-width: 500px) {
	.brand-form {
		.custom-checkbox {
	        width: 100%;
	    }
	}
}





















